<!-- BEGIN PAGE CONTENT-->
<div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" ng-show="mostrarHeader" class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
</div>
<div class="portlet light" style="background-color: white;">
  <div class="portlet-body">
    <div class="row margin-bottom-30">
      <div class="col-md-6">
        <p>
           WherePlace es un proyecto que surgió en la EETAC, universidad UPC situada en Castelldefels. Somos un grupo 
           de 5 componentes en los cuales somos:
        </p>
        <ul class="list-unstyled margin-top-10 margin-bottom-10">
          <li>
            <i class="fa fa-check icon-default"></i> Ignacio Arroyo
          </li>
          <li>
            <i class="fa fa-check icon-default"></i> Jordi Iglesias
          </li>
          <li>
            <i class="fa fa-check icon-default"></i> Manuel Leiva
          </li>
          <li>
            <i class="fa fa-check icon-default"></i> Alejandro Martinez
          </li>
          <li>
            <i class="fa fa-check icon-default"></i> Xavier Urtasun
          </li>
        </ul>
        <p>
        La idea surgió en la asignatura de EA, Enginyeria d'Aplicacions, y gracias al profesor Toni Oller y la profesora Antonia Gallardo, pudimos desarrollar el proyecto en la dirección correcta, aplicando las modificaciones adecuadas y utilizando metodología ágil que nos ha ayudado mucho en el desarrollo del proyecto.

        </p>
        <blockquote class="hero">
          <p>
             “Hagas lo que hagas, hazlo tan bien para que vuelvan y además traigan a sus amigos” 
          </p>
          <small>Walt Disney</small>
        </blockquote>
        <p>
        En cada momento que nos poníamos a trabajar, estabamos pensando en nuestros clientes, que son nuestra prioridad y nuestra máxima. 
        Sabemos que la competencia es dura y feroz, pero estamos preparados, estamos ilusionados y queremos que las personas se sientan agusto con nuestro servicio.
        </p>

        <!-- Blockquotes -->
        <blockquote class="hero">
          <p>
             “Cuanto más se implique con su cliente, las cosas se vuelven más claras y más fácil es determinar lo que debería hacer” 
          </p>
          <small>John Russell, Presidente de Harley Davidson</small>
        </blockquote>

        <p>

        Para finalizar, solo queríamos comentar que cualquier cosa que queráis comentar, estamos esperándoos para solucionar cualquier problema o cualquier pregunta. 
        <br>
        <br>
        pd: Equipo de Whereplace
        <br>
        <br>
        contacto: support@whereplace.com

        </p>

      </div>
      <div class="col-md-6">
        <iframe src="https://player.vimeo.com/video/30482523" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p><a href="https://vimeo.com/30482523">Chocolate Roulade</a> from <a href="https://vimeo.com/sunstudios">Sun Studios Productions</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

        <iframe src="https://player.vimeo.com/video/150850187" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p><a href="https://vimeo.com/150850187">A View of the World</a> from <a href="https://vimeo.com/victorsalehvazquez">Victor Saleh Vazquez</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      </div>
    </div>
    <!--/row-->
    <!-- Meer Our Team -->
    <div class="headline">
      <h3>Conocenos</h3>
    </div>
    <div class="row thumbnails">
      <div class="col-md-2">
        <div class="meet-our-team">
          <h3>Ignacio. A <br><small>Frontend & Backend Dev.</small></h3>
          <img src="../../assets/admin/pages/media/pages/2.jpg" alt="" class="img-responsive"/>
          <div class="team-info">
            <p>
               Grado en Ingeniería Telemática por la EETAC-UPC. 
               Soy una persona honesta, comprometida y responsable, con buena actitud para el trabajo en equipo y con facilidad para relacionarme en grupo. 
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="meet-our-team">
          <h3>Jordi. I <br><small>Frontend & Ionic Dev.</small></h3>
          <img src="../../assets/admin/pages/media/pages/3.jpg" alt="" class="img-responsive"/>
          <div class="team-info">
            <p>
               Grado en Ingeniería Telemática por la EETAC-UPC.
               Capacidad de dirigir un trabajo en equipo, logrando ir al fondo en las habilidades personales, con el fin de ayudar y motivar a los demás.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="meet-our-team">
          <h3>Manuel. L <br><small>Frontend & Ionic Dev</small></h3>
          <img src="../../assets/admin/pages/media/pages/2.jpg" alt="" class="img-responsive"/>
          <div class="team-info">
            <p>
            Grado en Ingeniería Telemática por la EETAC-UPC.
               Persona  altamente responsable, con iniciativa, puntualidad y compromiso, asumo con seriedad los retos y metas que el equipo me plantee.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="meet-our-team">
          <h3>Alejandro. M <br><small>Frontend & Backend Dev</small><br></h3>
          <img src="../../assets/admin/pages/media/pages/3.jpg" alt="" class="img-responsive"/>
          <div class="team-info">
            <p>
            Grado en Ingeniería Telemática por la EETAC-UPC.
              Mi habilidad principal es ser objetivo y perseverante .así como desempeñar adecuadamente un trabajo en forma grupal que se requiera en el equipo.
            </p>
          </div>
        </div>
      </div>

    <section class="col-md-2">
        <div class="meet-our-team">
          <h3>Xavier. U <br><small>Backend & Ionic dev.</small></h3>
          <img src="../../assets/admin/pages/media/pages/2.jpg" alt="" class="img-responsive"/>
          <div class="team-info">
            <p>
            Grado en Ingeniería Telemática por la EETAC-UPC.
               Como profesional me considero analítico y proactivo, consciente del sentido de la urgencia y con capacidad para el trabajo bajo presión.
            </p>
          </div>
        </div>
    </section>

    <section class="col-md-2">
        <div class="meet-our-team">
          <h3>Profesorado <small> Antonia. G & Toni. O </small></h3>
          <img src="../../assets/admin/pages/media/pages/profesorado.jpg" alt="" class="img-responsive"/>
          <div class="team-info">
            <p>
               antonia.gallardo@upc.edu Profesora de la EETAC-UPC.
               aoller@entel.upc.edu Profesor de la EETAC-UPC.
            </p>
          </div>
        </div>
    </section>
    </div>
    <!--/thumbnails-->
    <!-- //End Meer Our Team -->
  </div>
</div>
<!-- END PAGE CONTENT-->
