<!-- BEGIN BODY -->
<body class="login" ng-controller="EditController">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div data-ng-include="'tpl/header_empresa.html'" data-ng-controller="HeaderEmpController" ng-show="mostrarHeader" class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
</div>
<br>
<br>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="row" ng-controller="EmpresaProfileController">
	<div class="col-md-12">
		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<!-- PORTLET MAIN -->
			<div class="portlet light blue-steel" style="background-color: white;">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{empresa.avatar}}" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{empresa.nombre}}
					</div>
					<div class="profile-usertitle-job font-blue-steel">
						Empresa
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-circle blue-steel btn-sm">Follow</button>
					<button type="button" class="btn btn-circle red-thunderbird btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<br>
			</div>
			<!-- END PORTLET MAIN -->
			<!-- END PORTLET MAIN -->
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->
		<!-- BEGIN PROFILE CONTENT -->
		<div ui-view class="profile-content fade-in-up">
		</div>
		<!-- END PROFILE CONTENT -->
	</div>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
