
<!-- BEGIN BODY -->
<body class="login" ng-controller="LoginController">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">

		<img src="../../assets/global/img/logo_whereplace_trans2.png" style="height: 120px; display:block; margin : 0 auto;" alt=""/>

</div>
<br>
<br>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="container">
<div class="col-md-12">
	<div class="portlet box red-thunderbird">
		<div class="portlet-title">
			<div class="caption">
				Logueate
			</div>
		</div>
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form id="form-username"  class="form-horizontal form-bordered ng-pristine ng-valid">
				<div class="form-body">
					<div class="form-group">
						<label class="control-label col-md-3">Email</label>
						<div class="col-md-4">
							<div class="input-icon right">
								<input class="form-control" type="email" placeholder="Email" ng-model="loginUser.username">

							</div>
						</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Contraseña</label>
							<div class="col-md-4">
								<div class="input-icon right">
									<input class="form-control" type="password" placeholder="Contraseña" ng-model="loginUser.password">
								</div>
							</div>
						</div>
						<div class="form-group last password-strength">
							<label class="control-label col-md-3">Logueate con...</label>
							<div class="col-md-4">
								<ul class="social-icons">
									<li>
										<a class="facebook" data-original-title="facebook" href="/auth/facebook"></a>
									</li>
									<li>
										<a class="twitter" data-original-title="Twitter" href="javascript:;"></a>
									</li>
									<li>
										<a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
									</li>
									<li>
										<a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn purple" style="background-color: #780707" ng-click="login()"><i class="fa fa-check"></i> Login</button>
								<button type="button" class="btn default">Cancelar</button>
							</div>
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>

	</div>
	</div>
<div class="copyright hide">
	2015 © WherePlace.
</div>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
