<div class="col-md-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Form Tools
            </div>
            <div class="tools">
                <a title="" data-original-title="" href="javascript:;" class="collapse">
                </a>
                <a title="" data-original-title="" href="#" data-toggle="modal" class="config">
                </a>
                <a title="" data-original-title="" href="javascript:;" class="reload">
                </a>
                <a title="" data-original-title="" href="javascript:;" class="remove">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" id="form-username" class="form-horizontal form-bordered ng-pristine ng-valid">
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">Username #1</label>
                        <div class="col-md-4">
                            <div class="input-group" style="text-align:left">
                                <input class="form-control" name="username1" id="username1_input" type="text">
									<span class="input-group-btn">
									<a href="javascript:;" class="btn green" id="username1_checker">
                                        <i class="fa fa-check"></i> Check </a>
									</span>
                            </div>
                            <div class="help-block">
                                Type a username(E.g: user1, user2) and check its availability.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Username #2</label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <input class="form-control" name="username1" id="username2_input" type="text">
                            </div>
                            <div class="help-block">
                                Type a username(E.g: user1, user2) and check its availability on focus lost
                            </div>
                        </div>
                    </div>
                    <div class="form-group last password-strength">
                        <label class="control-label col-md-3">Password</label>
                        <div class="col-md-4">
                            <input class="form-control" name="password" id="password_strength" type="text">
								<span class="help-block">
								Type a password to check its strength </span>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn purple"><i class="fa fa-check"></i> Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END PORTLET-->
</div>


