<!-- BEGIN MAIN CONTENT -->
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 100%;

    }
</style>
<body>
<div data-ng-include="'tpl/header_login.html'" ng-controller="HeaderController"
     class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
</div>
<div class="row" ng-controller="MainController">
    <div class="col-md-4">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light" style="background-color: white;" ng-repeat="empresa in empresas">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-paper-plane font-green-sharp"></i>
                    <a class="caption-subject bold uppercase font-red-flamingo" type="button"
                       href="#/detalles/{{empresa._id}}">{{empresa.nombre}}</a>
                    <span class="caption-helper hide"></span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <span class="font-red-thunderbird">{{empresa.email}}</span>
                        <br>
                        <span class="font-red-thunderbird">{{empresa.direccion}}</span>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="tiles">
                            <div class="tile bg-green-jungle">
                                <div class="tile-body">
                                    <h2>{{empresa.puntuacion}}/10</h2>
                                    <i class="fa fa-star-o"></i>

                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        Puntuación
                                    </div>
                                    <div class="number">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Aqui irá el contenido de la empresa -->
                </div>
            </div>
        </div>
        <!-- END: ACCORDION DEMO -->
    </div>

    <div class="col-md-8" ng-controller="MapCtrl">
        <!-- Aquí irá el mapa -->
        <div class="portlet light" style="background-color: white;">
            <div class="portlet-title" id="map" style="height: 750px; ">

            </div>
            <div class="portlet-body">


            </div>
        </div>
        <!-- END: ACCORDION DEMO -->
    </div>

</div>
<!-- END MAIN CONTENT -->
</body>


<script src="js/where_maps.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzurAdCYR_gG-KAqGreC3-ZJUhklwAacs&callback=initMap" async defer></script>


<!-- BEGIN MAIN JS -->