<!-- BEGIN MAIN CONTENT -->
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 100%;

    }
</style>

<body>
  <div data-ng-include="'tpl/header_login.html'" data-ng-controller="HeaderLoginController" class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
  </div>


<div class="row" ng-controller="MainController">

    <div class="row buscador">
                <input type="search" id="search" placeholder="Busca un lugar" ng-model="busqueda" ng-change="cargarEmpresas(busqueda)" size="101" class="col-md-6 col-md-offset-3"results = "5"/>
                <ul class="col-md-6 col-md-offset-3" style="background-color: white" role = "listbox" >
                    <li ng-repeat="busqueda in busquedas" >
                        <a  href="#/detalles/{{busqueda._id}}">
                            {{busqueda.nombre}}
                        </a>
                    </li>
                </ul>

    </div>


    <div class="col-md-4" >
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light" style="background-color: white;" ng-repeat="empresa in empresas" >
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-paper-plane font-green-sharp"></i>
                    <a class="caption-subject bold uppercase font-red-flamingo" type="button"
                       href="#/detalles/{{empresa._id}}">{{empresa.nombre}}</a>
                    <span class="caption-helper hide"></span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <span class="font-red-thunderbird">{{empresa.email}}</span>
                        <br>
                        <span class="font-red-thunderbird">{{empresa.direccion}}</span>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="tiles">
                            <div class="tile bg-green-jungle">
                                <div class="tile-body">
                                    <h2>{{((empresa.puntuacion.puntuacion)/empresa.puntuacion.contador)*2}}/10</h2>
                                    <i class="fa fa-star-o"></i>

                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        Puntuación
                                    </div>
                                    <div class="number">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Aqui irá el contenido de la empresa -->
                </div>
            </div>
        </div>
        <!-- END: ACCORDION DEMO -->
    </div>
    <div class="col-md-8" ng-controller="MapCtrl" style="position: fixed; right: 0;" >
        <!-- Aquí irá el mapa -->
        <div class="portlet light" style="background-color: white;">
            <div class="portlet-title" id="map" style="height: 800px; ">

            </div>
            <div class="portlet-body">


            </div>
        </div>
        <!-- END: ACCORDION DEMO -->
    </div>


</div>

</body>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzurAdCYR_gG-KAqGreC3-ZJUhklwAacs&callback=initMap" async
        defer></script>


<!-- BEGIN MAIN JS -->
