<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
</head>
<!-- BEGIN BODY -->
<body class="login" ng-controller="RegisterController">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">

    <img src="../../assets/global/img/logo_whereplace_trans2.png" style="height: 120px; display:block; margin : 0 auto;"
         alt=""/>

</div>
<br>
<br>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="container">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    Registro Empresa
                </div>
            </div>
            <li>
                <a href="#">
                    Registrar empresa
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            Comida
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <ul>
                            <li>
                            <a href="#">Hosting 10GB</a>
                            </li>
                            <li>
                            <a href="#">Hosting 25GB</a>
                            </li>
                            <li>
                            <a href="#">Hosting 50GB</a>
                            </li>
                            <li>
                            <a href="#">Hosting Ilimitado</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            Diversión
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="#">Registrar</a>
                            </li>
                            <li>
                                <a href="#">Transferir</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Nocturno</a>
                    </li>
                    <li>
                        <a href="#">Compras</a>
                    </li>
                </ul>
            </li>
        </div>

    </div>


</div>
</div>
<div class="copyright hide">
    2015 © WherePlace.
</div>
<script>
    ComponentsFormTools.init(); // init todo page
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
