
<!-- BEGIN BODY -->
<body class="login" ng-controller="RegisterCompanyController">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">

    <img src="../../assets/global/img/logo_where.png" style="height: 120px; display:block; margin : 0 auto;" alt=""/>

</div>
<br>
<br>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="container">
    <div class="col-md-12">
        <div class="portlet box blue-steel">
            <div class="portlet-title">
                <div class="caption">
                    Registro Empresa
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered ng-pristine ng-valid">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Nombre</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control" type="text" placeholder="Nombre" ng-model="newEmpresa.nombre">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Dirección</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control" type="text" placeholder="Dirección" ng-model="newEmpresa.direccion">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Ciudad</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control" type="text" placeholder="Ciudad" ng-model="newEmpresa.ciudad">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Descripcion</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <textarea id="maxlength_textarea" class="form-control" maxlength="225" rows="2" placeholder="Descripción. Max: 225 carácteres" ng-model="newEmpresa.descripcion"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control" type="email" placeholder="Email" ng-model="newEmpresa.email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Contraseña</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control" type="password" placeholder="Contraseña" ng-model="newEmpresa.password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Teléfono</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control" type="tel" placeholder="Teléfono" ng-model="newEmpresa.telefono">
                                </div>
                            </div>
                        </div>
                        <!-- OPEN  MODAL-->
                        <div class="form-group">
                            <label class="control-label col-md-3">Negocio</label>
                            <div class="col-md-6">
                                <div class="input-icon right">
                                  <button type="button" ng-click="detallesComida()" ng-model="newEmpresa.detalles.tipo"class="btn green-meadow"><i class="fa fa-coffee"> Comida</i></button>
                                  <button type="button" ng-click="detallesDiversion()" class="btn purple-studio"><i class="fa fa-film"> Diversión</i></button>
                                  <button type="button" ng-click="detallesNocturno()" class="btn grey-gallery"><i class="fa fa-moon-o"> Nocturno</i></button>
                                  <button type="button" ng-click="detallesCompras()" class="btn yellow-lemon"><i class="fa fa-credit-card"> Compras</i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"  ng-show="mostrarSubtagsComida">
                            <label class="control-label col-md-3">Tags</label>
                            <div class="col-md-8">
                                <div class="input-icon right">
                                  <a ng-click="clickedChino(click1)" class="{{formClassCh}}">
															     Chino <i class="{{formClassIconCh}}"></i></a>
                                   <a ng-click="clickedItaliano(click2)" class="{{formClassIta}}">
 															     Italiano <i class="{{formClassIconIta}}"></i></a>
                                   <a ng-click="clickedEspanol(click3)" class="{{formClassEsp}}">
 															     Español <i class="{{formClassIconEsp}}"></i></a>
                                   <a ng-click="clickedIndio(click4)" class="{{formClassInd}}">
 															     Indio <i class="{{formClassIconInd}}"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"  ng-show="mostrarSubtagsDiversion">
                            <label class="control-label col-md-3">Tags</label>
                            <div class="col-md-8">
                                <div class="input-icon right">
                                  <a ng-click="clickedTeatro(click1)" class="{{formClassTeatro}}">
                                   Teatro <i class="{{formClassIconTeatro}}"></i></a>
                                   <a ng-click="clickedCine(click2)" class="{{formClassCine}}">
                                   Cine <i class="{{formClassIconCine}}"></i></a>
                                   <a ng-click="clickedParque(click3)" class="{{formClassParque}}">
                                   Parque <i class="{{formClassIconParque}}"></i></a>
                                   <a ng-click="clickedOtros(click4)" class="{{formClassOtros}}">
                                   Otros <i class="{{formClassIconOtros}}"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"  ng-show="mostrarSubtagsCompras">
                            <label class="control-label col-md-3">Tags</label>
                            <div class="col-md-8">
                                <div class="input-icon right">
                                  <a ng-click="clickedCent(click1)" class="{{formClassCent}}">
                                   Centro comercial <i class="{{formClassIconCent}}"></i></a>
                                   <a ng-click="clickedSup(click2)" class="{{formClassSup}}">
                                   Supermercado <i class="{{formClassIconSup}}"></i></a>
                                   <a ng-click="clickedCom(click3)" class="{{formClassCom}}">
                                     Comercio de barrio <i class="{{formClassIconCom}}"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"  ng-show="mostrarSubtagsNocturno">
                            <label class="control-label col-md-3">Tags</label>
                            <div class="col-md-8">
                                <div class="input-icon right">
                                  <a ng-click="clickedDisco(click1)" class="{{formClassDisco}}">
                                   Discoteca <i class="{{formClassIconDisco}}"></i></a>
                                   <a ng-click="clickedCopas(click2)" class="{{formClassCopas}}">
                                   Bar de copas <i class="{{formClassIconCopas}}"></i></a>
                                   <a ng-click="clickedGin(click3)" class="{{formClassGin}}">
                                   GinTonic <i class="{{formClassIconGin}}"></i></a>
                                   <a ng-click="clickedCock(click4)" class="{{formClassCock}}">
                                   Cóckteles <i class="{{formClassIconOtros}}"></i></a>
                                   <a ng-click="clickedAlt(click5)" class="{{formClassAlt}}">
                                   Alterne <i class="{{formClassIconAlt}}"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"  ng-show="mostrarDetalleComida">
                            <label class="control-label col-md-3">Detalles</label>
                            <div class="col-md-3">
                                <div class="input-icon right">
                                  <div class="md-checkbox-list">

                                    <div class="md-checkbox">

                                      <input id="wifi" class="md-check" ng-model="newEmpresa.detalles.wifi" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                      <label for="wifi">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Wifi</label>

                                      </div>
                                      <div class="md-checkbox">
                                        <input id="terraza" class="md-check" ng-model="newEmpresa.detalles.terraza" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                        <label for="terraza">
                                          <span class="inc"></span>
                                          <span class="check"></span>
                                          <span class="box"></span>
                                          Terraza </label>
                                        </div>
                                        <div class="md-checkbox">
                                          <input id="reservas" class="md-check" ng-model="newEmpresa.detalles.reservas" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                          <label for="reservas">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Reservas </label>
                                          </div>
                                          <div class="md-checkbox">
                                            <input id="tarjeta" class="md-check" ng-model="newEmpresa.detalles.tarjeta" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                            <label for="tarjeta">
                                              <span class="inc"></span>
                                              <span class="check"></span>
                                              <span class="box"></span>
                                              Tarjeta </label>
                                            </div>
                                          </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                              <div class="md-checkbox-list">

                                <div class="md-checkbox">

                                  <input id="todos" class="md-check" ng-model="todos" ng-true-value="'Todos los dias'" type="checkbox">
                                  <label for="todos">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Todos los dias</label>

                                  </div>
                                  <div class="md-checkbox">
                                    <input id="entre" class="md-check" ng-model="entre" ng-true-value="'De Lunes a Viernes'"  type="checkbox">
                                    <label for="entre">
                                      <span class="inc"></span>
                                      <span class="check"></span>
                                      <span class="box"></span>
                                      De Lunes a Viernes </label>
                                    </div>
                                    <div class="md-checkbox">
                                      <input id="fines" class="md-check" ng-model="fines" ng-true-value="'Sólo fines de semana'"  type="checkbox">
                                      <label for="fines">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Sólo fines de semana </label>
                                      </div>
                                      </div>
                            </div>
                            <div class="col-md-3">

                              <div class="md-checkbox-list">

                                <div class="md-checkbox">

                                  <input id="manyanas" class="md-check" ng-model="manyanas" ng-true-value="' por las mañanas'" type="checkbox">
                                  <label for="manyanas">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Mañanas</label>

                                  </div>
                                  <div class="md-checkbox">
                                    <input id="tardes" class="md-check" ng-model="tardes" ng-true-value="' por las tardes'"  type="checkbox">
                                    <label for="tardes">
                                      <span class="inc"></span>
                                      <span class="check"></span>
                                      <span class="box"></span>
                                      Tardes </label>
                                    </div>
                                    <div class="md-checkbox">
                                      <input id="ambos" class="md-check" ng-model="ambos" ng-true-value="' por la mañana y por la tarde'"  type="checkbox">
                                      <label for="ambos">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Mañanas y tardes </label>
                                      </div>
                                      </div>
                            </div>
                        </div>
                        <div class="form-group"  ng-show="mostrarDetalleDiversion">
                            <label class="control-label col-md-3">Detalles</label>
                            <div class="col-md-3">
                                <div class="input-icon right">
                                  <div class="md-checkbox-list">

                                    <div class="md-checkbox">

                                      <input id="wifi" class="md-check" ng-model="newEmpresa.detalles.wifi" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                      <label for="wifi">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Wifi</label>

                                      </div>
                                        <div class="md-checkbox">
                                          <input id="reservas" class="md-check" ng-model="newEmpresa.detalles.reservas" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                          <label for="reservas">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Reservas </label>
                                          </div>
                                          <div class="md-checkbox">
                                            <input id="tarjeta" class="md-check" ng-model="newEmpresa.detalles.tarjeta" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                            <label for="tarjeta">
                                              <span class="inc"></span>
                                              <span class="check"></span>
                                              <span class="box"></span>
                                              Tarjeta </label>
                                            </div>
                                          </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                              <div class="md-checkbox-list">

                                <div class="md-checkbox">

                                  <input id="todos" class="md-check" ng-model="todos" ng-true-value="'Todos los dias'" type="checkbox">
                                  <label for="todos">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Todos los dias</label>

                                  </div>
                                  <div class="md-checkbox">
                                    <input id="entre" class="md-check" ng-model="entre" ng-true-value="'De Lunes a Viernes'"  type="checkbox">
                                    <label for="entre">
                                      <span class="inc"></span>
                                      <span class="check"></span>
                                      <span class="box"></span>
                                      De Lunes a Viernes </label>
                                    </div>
                                    <div class="md-checkbox">
                                      <input id="fines" class="md-check" ng-model="fines" ng-true-value="'Sólo fines de semana'"  type="checkbox">
                                      <label for="fines">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Sólo fines de semana </label>
                                      </div>
                                      </div>
                            </div>
                            <div class="col-md-3">

                              <div class="md-checkbox-list">

                                <div class="md-checkbox">

                                  <input id="manyanas" class="md-check" ng-model="manyanas" ng-true-value="' por las mañanas'" type="checkbox">
                                  <label for="manyanas">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Mañanas</label>

                                  </div>
                                  <div class="md-checkbox">
                                    <input id="tardes" class="md-check" ng-model="tardes" ng-true-value="' por las tardes'"  type="checkbox">
                                    <label for="tardes">
                                      <span class="inc"></span>
                                      <span class="check"></span>
                                      <span class="box"></span>
                                      Tardes </label>
                                    </div>
                                    <div class="md-checkbox">
                                      <input id="ambos" class="md-check" ng-model="ambos" ng-true-value="' por la mañana y por la tarde'"  type="checkbox">
                                      <label for="ambos">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Mañanas y tardes </label>
                                      </div>
                                      </div>
                            </div>
                        </div>
                        <div class="form-group"  ng-show="mostrarDetalleNocturno">
                            <label class="control-label col-md-3">Detalles</label>
                            <div class="col-md-3">
                                <div class="input-icon right">
                                  <div class="md-checkbox-list">

                                    <div class="md-checkbox">
                                      <input id="terraza" class="md-check" ng-model="newEmpresa.detalles.terraza" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                      <label for="terraza">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Terraza </label>
                                      </div>
                                        <div class="md-checkbox">
                                          <input id="reservas" class="md-check" ng-model="newEmpresa.detalles.reservas" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                          <label for="reservas">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Reservas </label>
                                          </div>
                                          <div class="md-checkbox">
                                            <input id="tarjeta" class="md-check" ng-model="newEmpresa.detalles.tarjeta" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                            <label for="tarjeta">
                                              <span class="inc"></span>
                                              <span class="check"></span>
                                              <span class="box"></span>
                                              Tarjeta </label>
                                            </div>
                                          </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                              <div class="md-checkbox-list">

                                <div class="md-checkbox">

                                  <input id="todos" class="md-check" ng-model="todos" ng-true-value="'Todos los dias'" type="checkbox">
                                  <label for="todos">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Todos los dias</label>

                                  </div>
                                  <div class="md-checkbox">
                                    <input id="entre" class="md-check" ng-model="entre" ng-true-value="'De Lunes a Viernes'"  type="checkbox">
                                    <label for="entre">
                                      <span class="inc"></span>
                                      <span class="check"></span>
                                      <span class="box"></span>
                                      De Lunes a Viernes </label>
                                    </div>
                                    <div class="md-checkbox">
                                      <input id="fines" class="md-check" ng-model="fines" ng-true-value="'Sólo fines de semana'"  type="checkbox">
                                      <label for="fines">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Sólo fines de semana </label>
                                      </div>
                                      </div>
                            </div>
                            <div class="col-md-3">

                              <div class="md-checkbox-list">

                                <div class="md-checkbox">

                                  <input id="manyanas" class="md-check" ng-model="manyanas" ng-true-value="' por las mañanas'" type="checkbox">
                                  <label for="manyanas">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Mañanas</label>

                                  </div>
                                  <div class="md-checkbox">
                                    <input id="tardes" class="md-check" ng-model="tardes" ng-true-value="' por las tardes'"  type="checkbox">
                                    <label for="tardes">
                                      <span class="inc"></span>
                                      <span class="check"></span>
                                      <span class="box"></span>
                                      Tardes </label>
                                    </div>
                                    <div class="md-checkbox">
                                      <input id="ambos" class="md-check" ng-model="ambos" ng-true-value="' por la mañana y por la tarde'"  type="checkbox">
                                      <label for="ambos">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Mañanas y tardes </label>
                                      </div>
                                      </div>
                            </div>
                        </div>
                        <div class="form-group"  ng-show="mostrarDetalleCompras">
                            <label class="control-label col-md-3">Detalles</label>
                            <div class="col-md-3">
                                <div class="input-icon right">
                                  <div class="md-checkbox-list">

                                    <div class="md-checkbox">

                                      <input id="wifi" class="md-check" ng-model="newEmpresa.detalles.wifi" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                      <label for="wifi">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Wifi</label>

                                      </div>

                                          <div class="md-checkbox">
                                            <input id="tarjeta" class="md-check" ng-model="newEmpresa.detalles.tarjeta" ng-true-value="'Sí'" ng-false-value="'No'" type="checkbox">
                                            <label for="tarjeta">
                                              <span class="inc"></span>
                                              <span class="check"></span>
                                              <span class="box"></span>
                                              Tarjeta </label>
                                            </div>
                                          </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                              <div class="md-checkbox-list">

                                <div class="md-checkbox">

                                  <input id="todos" class="md-check" ng-model="todos" ng-true-value="'Todos los dias'" type="checkbox">
                                  <label for="todos">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Todos los dias</label>

                                  </div>
                                  <div class="md-checkbox">
                                    <input id="entre" class="md-check" ng-model="entre" ng-true-value="'De Lunes a Viernes'"  type="checkbox">
                                    <label for="entre">
                                      <span class="inc"></span>
                                      <span class="check"></span>
                                      <span class="box"></span>
                                      De Lunes a Viernes </label>
                                    </div>
                                    <div class="md-checkbox">
                                      <input id="fines" class="md-check" ng-model="fines" ng-true-value="'Sólo fines de semana'"  type="checkbox">
                                      <label for="fines">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Sólo fines de semana </label>
                                      </div>
                                      </div>
                            </div>
                            <div class="col-md-3">

                              <div class="md-checkbox-list">

                                <div class="md-checkbox">

                                  <input id="manyanas" class="md-check" ng-model="manyanas" ng-true-value="' por las mañanas'" type="checkbox">
                                  <label for="manyanas">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Mañanas</label>

                                  </div>
                                  <div class="md-checkbox">
                                    <input id="tardes" class="md-check" ng-model="tardes" ng-true-value="' por las tardes'"  type="checkbox">
                                    <label for="tardes">
                                      <span class="inc"></span>
                                      <span class="check"></span>
                                      <span class="box"></span>
                                      Tardes </label>
                                    </div>
                                    <div class="md-checkbox">
                                      <input id="ambos" class="md-check" ng-model="ambos" ng-true-value="' por la mañana y por la tarde'"  type="checkbox">
                                      <label for="ambos">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Mañanas y tardes </label>
                                      </div>
                                      </div>
                            </div>
                        </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn blue-steel" ng-click="registrarEmpresa()"><i class="fa fa-check"></i> Registrar</button>
                                <button type="button" class="btn default" ng-click="volver()">Cancelar</button>
                            </div>
                        </div>
                    </div>

                </form>
                <!-- END FORM-->
            </div>
        </div>

    </div>
</div>
<div class="copyright hide">
    2015 © WherePlace.
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzurAdCYR_gG-KAqGreC3-ZJUhklwAacs&callback=initMap" async
        defer></script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
