<!-- BEGIN BODY -->
<body class="login" ng-controller="RegisterController">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">

    <img src="../../assets/global/img/logo_whereplace_trans2.png" style="height: 120px; display:block; margin : 0 auto;"
         alt=""/>

</div>
<br>
<br>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="container">
    <div class="col-md-12">
        <div class="portlet box red-thunderbird">
            <div class="portlet-title">
                <div class="caption">
                    Registro Usuario
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form name="formUsuario" class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Nombre*</label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control" type="text" placeholder="Nombre"
                                           ng-model="newUser.nombre" name="name" required>
                                </div>
                                <div class="alert alert-danger" ng-show="$mostrarAlertNom">
                                  <strong>Nombre requerido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Apellidos*</label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control" type="text" placeholder="Apellidos"
                                           ng-model="newUser.apellidos" name="apellidos" required>
                                </div>
                                <div class="alert alert-danger" ng-show="mostrarAlertApe">
                                  <strong>Apellidos requeridos</strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Contraseña*</label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control" type="password" placeholder="Contraseña"
                                           ng-model="newUser.password" name="pass" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Confirmar contraseña*</label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control"  type="password"
                                           placeholder="Confirmar contraseña"
                                           ng-model="password2"  required>
                                </div>
                                <div class="alert alert-danger" ng-show="mostrarAlertCon">
                                  <strong></strong> Las contraseñas no coinciden!
                                  <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email*</label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input class="form-control" type="email" placeholder="Email"
                                           ng-model="newUser.email" name="correo" required>
                                </div>
                                <div class="alert alert-danger" ng-show="mostrarAlertEm">
                                  <strong>Debes introducir un email</strong>
                                  <span class="required">*</span>
                                </div>
                                <div class="alert alert-danger" ng-show="mostrarRepe">
                                  <strong>Ya existe un usuario con este email</strong>
                                  <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Fecha de nacimiento*</label>

                            <div class="col-md-4">
                                <input class="form-control" id="mask_date2" type="text"
                                       ng-model="newUser.fecha_nacimiento">
                            </div>
                            <div class="alert alert-danger" ng-show="mostrarAlertFecha">
                              <strong>Debes una fecha</strong>
                              <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn red-thunderbird"
                                        ng-click="registrarUser()" ><i class="fa fa-check"></i> Registrar
                                </button>
                                <button type="button" class="btn default" ng-click="volver()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

    </div>


</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzurAdCYR_gG-KAqGreC3-ZJUhklwAacs&callback=initMap" async
        defer></script>
<script>
    ComponentsFormTools.init(); // init todo page
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
