<!-- BEGIN MAIN CONTENT -->
<div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController"
     class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
</div>
<div class="row" style="height: 100%;">
    <div class="col-md-12" style="height: 100%;">
        <div class="portlet light image" ng-controller="UISelectController" style="height: 100%;">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <span class="caption-subject bold uppercase"></span>
                    <span class="caption-helper hide"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-6">
                    <ui-select multiple ng-model="multipleDemo.selectedPeople" theme="bootstrap" ng-disabled="disabled">
                        <ui-select-match placeholder="Selecciona tus gustos...">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                            {{person.name}}
                        </ui-select-choices>
                    </ui-select>
                   <!-- <p>Selected: {{multipleDemo.selectedPeople}}</p>-->
                    <p></p>

                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn red-thunderbird">Buscar</button>
                        <button type="button" class="btn red-flamingo">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<font size="3px"><a href="#/register_company" style="color: rgb(21,186,228)">¿Quieres registrar tu empresa?</a></font>
<br>
<font size="3px"><a href="#/edit_company" style="color: rgb(14,171,40)">Edita los datos de tu empresa</a></font>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script class="ng-scope"></script>
<!-- BEGIN MAIN JS -->
