<ion-view class="category-feeds-view">
  <ion-nav-title>
    <span>{{categoryTitle}}</span>
  </ion-nav-title>
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <div class="list category-feeds">
      <a ng-repeat="empresa in empresas" class="item item-icon-right" ng-controller="CategoryFeedsCtrl" ng-click="detailEmpresa(empresa._id)">
        <div class="thumbnail-outer">
          <pre-img ratio="_1_1" helper-class="">
            <img class="thumbnail" ng-src="{{empresa.image}}" spinner-on-load>
          </pre-img>
        </div>
        <div>
          <span class="title">{{empresa.nombre}}</span>
          <p class="description">{{empresa.descripcion}}</p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
