<ion-view class="profile-view">
    <ion-nav-title>
        <span>{{empresa.nombre}}</span>
        <a ng-model="favorito"  ng-click="changing(favorito)" ng-class="formClass"></a>

    </ion-nav-title>
    <ion-content>


        <div class="profile-container">

            <div class="user-name">{{empresa.ciudad}}</div>
            <div class="user-twitter">{{empresa.descripcion}}</div>
        </div>

      <div class="ec-stars-wrapper">
        <a  ng-click="puntuar(1)">&#9733;</a>
        <a  ng-click="puntuar(2)">&#9733;</a>
        <a  ng-click="puntuar(3)">&#9733;</a>
        <a  ng-click="puntuar(4)">&#9733;</a>
        <a  ng-click="puntuar(5)">&#9733;</a>
      </div>


      <div>
       Valoración: {{media}}

      </div>



        <div class="list category-feeds">
            <a ng-repeat="comentario in empresa.comentarios"  class="item item-icon-right">

                <div>
                    <span class="title">{{comentario.user}}</span>
                    <p class="description">{{comentario.comentario}}</p>
                </div>
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
        <div class="bottom-content">
            <div class="user-bio">
                <a  ng-click="NewComment(empresa)">Nuevo comentario
                </a>
              <!--   <a ng-click="cargarMapa()">{{empresa.direccion}}</a>
              <div ng-show="mostrarMapa" id="map" style="height: 400px; ">

              </div>-->
            </div>
          <div class="user-bio">
            <a ng-click="cargarMapa()">{{empresa.direccion}}</a>
            <!--   <a ng-click="cargarMapa()">{{empresa.direccion}}</a>
             <div ng-show="mostrarMapa" id="map" style="height: 400px; ">

             </div>-->
          </div>

        </div>

    </ion-content>
    <div class="bar bar-footer ">
        <div class="tabs-striped tabs-color-assertive">
            <div class="tabs">
                <a class="tab-item active" ng-click="">
                    <i class="icon ion-home"></i>
                    Informacion
                </a>
                <a class="tab-item" ng-click="goComments(empresa)">
                    <i class="icon ion-android-create"></i>
                    Comentarios
                </a>
                <a class="tab-item" ng-click="goPhotos(empresa)">
                    <i class="icon ion-android-camera"></i>
                    Photos
                </a>
            </div>
        </div>
    </div>
</ion-view>
