<ion-view class="category-feeds-view">
    <ion-nav-title>
        <span>Ha hecho {{numComments}} comentarios.</span>
    </ion-nav-title>
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
        <div class="list category-feeds">
            <a ng-repeat="empresa in empresas" class="item item-icon-right" ng-controller="CategoryFeedsCtrl" ng-click="detailEmpresa(empresa._id)">
                <div>
                    <span class="title">{{empresa.nombre}}</span>
                    <p class="description">{{empresa.descripcion}}</p>
                </div>
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
