<ion-view class="bookmarks-view">
  <ion-nav-title>
    <span>Gustos</span>
  </ion-nav-title>
  <ion-content>
    <ion-toggle ng-model="gustos.comida" toggle-class="toggle-dark" ng-checked="comida">Comida</ion-toggle>
    <ion-toggle ng-model="gustos.diversion" toggle-class="toggle-dark" ng-checked="diversion">Diversion</ion-toggle>
    <ion-toggle ng-model="gustos.nocturno" toggle-class="toggle-dark" ng-checked="nocturno">Nocturno</ion-toggle>
    <ion-toggle ng-model="gustos.compras" toggle-class="toggle-dark" ng-checked="compras">Compras</ion-toggle>
    <div class="item item-divider"></div>

    <div class="button icon-right ion-chevron-right button-assertive" ng-controller="GustosCtrl" ng-click="actualizar(gustos)">Actualizar</div>
  </ion-content>

</ion-view>
