<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Settings</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">

      <div class="item item-divider">Cambiar Contraseña</div>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Antigua contraseña</span>
          <input type="password" ng-model="password.last" placeholder="Antigua contraseña" ng-class="formClass"> </label>

      <label class="item item-input item-floating-label">
          <span class="input-label">Nueva contraseña</span>
          <input type="password" ng-model="password.new" placeholder="Nueva contraseña"> </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Repita contraseña</span>
          <input type="password" ng-model="password.renew" placeholder="Repita contraseña"> </label>
        <button class="button button-block button-assertive" ng-click="CambiarPassword(password)">
          Cambiar
        </button>
      <div class="item item-divider">Radio</div>

      <ion-radio ng-model="choice" ng-change="getradio(choice)" ng-value="'1'">1 km</ion-radio>
      <ion-radio ng-model="choice" ng-change="getradio(choice)" ng-value="'10'">10 km</ion-radio>
      <ion-radio ng-model="choice" ng-change="getradio(choice)" ng-value="'30'">30 km</ion-radio>




    </ul>
  </ion-content>
  <div class="bar bar-footer bar-assertive" ng-click="showLogOutMenu()">
    <div class="title">Sign Out</div>
  </div>
</ion-view>
