<ion-view class="profile-view">
    <ion-nav-title>
        <span>{{empresa.nombre}}</span>
        <a ng-model="favorito"  ng-click="changing(favorito)" ng-class="formClass"></a>

    </ion-nav-title>
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
        <div class="list category-feeds">
            <a ng-repeat="comentario in empresa.comentarios" class="item item-icon-right" ng-click="detailEmpresa(empresa._id)">
                <div>
                    <span class="title">{{empresa.nombre}}</span>
                    <p class="description">{{empresa.descripcion}}</p>
                </div>
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
    </ion-content>
    <div class="bar bar-footer ">
        <div class="tabs-striped tabs-color-assertive">
            <div class="tabs">
                <a class="tab-item" ng-click="goHome(empresa)">
                    <i class="icon ion-home"></i>
                    Informacion
                </a>
                <a class="tab-item active" ng-click="">
                    <i class="icon ion-android-create"></i>
                    Comentarios
                </a>
                <a class="tab-item" ng-click="goPhotos(empresa)">
                    <i class="icon ion-android-camera"></i>
                    Photos
                </a>
            </div>
        </div>
    </div>
</ion-view>
