<ion-view class="maps-view">
  <ion-nav-title>
    <span>Maps</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="mapWrap"  data-tap-disabled="true">
      <div class="row center-map-action">
        <div class="col">
          <div class="list">

          </div>
        </div>
      </div>
      <map center="{{info_position.lat}},{{info_position.lng}}" zoom="15">

        <info-window id="1" position="{{info_position.lat}},{{info_position.lng}}" visible="true">
          <div ng-non-bindable="">
            <b>{{nombre}}</b><br>
            {{descripcion}} <br>
            Avatar <a href="">links</a> <br>
            <img style=" border-radius: 24px;" src="http://lorempixel.com/50/50/food/?v=1"></img>
            <img style=" border-radius: 24px;" src="http://lorempixel.com/50/50/food/?v=2"></img>
            <img style=" border-radius: 24px;" src="http://lorempixel.com/50/50/food/?v=3"></img>
          </div>
        </info-window>
      </map>
    </div>
  </ion-content>
</ion-view>
