
<div class="page-header-inner" >
	<!-- BEGIN LOGO -->
	<div class="page-logo">

		<a href="#/index">		<img src="../../../../assets/global/img/logo_whereplace_trans3.png" alt="logo" class="logo-default"/></a>

		</div>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN USER LOGIN DROPDOWN -->

	<!-- BEGIN PAGE TOP -->
	<div class="page-top">

		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<li class="separator hide"></li>


				<li class="separator hide"></li>

				<!-- AQui botones -->
				<br>
				<button ng-click="login()"  type="button" class="btn red-thunderbird">Login</button>
				<button ng-click=register()  type="button" class="btn red-flamingo">Registrar</button>
				</br>

			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->
</body>
