<ion-view title="Empresa">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Dirección</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Teléfono</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Mail</span>
                <input type="email" placeholder="">
            </label>
        </form>
        <a menu-close="" href="#/tags" class="button  button-icon button-large">Tipo de negocio</a>
        <button class="button button-royal button-block ">Registrarse</button>
    </ion-content>
</ion-view>