<ion-view title="Login Facebook">
    <ion-content padding="'true'" class="has-header">
        <button class="button button-positive button-block ">Login with Facebook</button>
        <button class="button button-assertive button-block ">Login with Gmail</button>
        <div>
            <p>
                Already have an account?
                <strong>
                    <a href="#/login">Sign in now!</a>
                </strong>
            </p>
        </div>
    </ion-content>
</ion-view>
