<ion-view title="Perfil">
    
    <div class="tabs tabs-icon-top tabs-positive">
                      <a class="tab-item" href="#/perfilusuario">
                          <i class="icon ion-home"></i>
                          Perfil
                      </a>
                      <a class="tab-item" href="#/gustos">
                          <i class="icon ion-search"></i>
                          Busqueda
                      </a>
                      <a class="tab-item" href="#/favoritos">
                          <i class="icon ion-star"></i>
                          Favorito
                      </a>
                      <a class="tab-item" href="#/settings">
                          <i class="icon ion-gear-a"></i>
                          Ajustes
                      </a>
    </div>
</ion-view>