<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/disco.jpg');">
        <div class="content">
            <div class="avatar" style="background-image: url('img/urtasun.jpg');"></div>
            <h3><a class="light">{{user.nombre}}</a></h3>
            <h4>{{user.apellidos}}</h4>
        </div>
    </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-chatbubbles"></i> Comments
            </a>
            <a ng-click="getFavoritos()" class="tab-item">
                <i class="icon ion-android-people"></i> Favoritos
            </a>
            <a ng-click="getGustos()" class="tab-item">
                <i class="icon ion-happy-outline"></i> Gustos
            </a>
        </div>
        <h4 class="content padding double-padding-x">Favorites</h4>
        <div class="list animate-fade-slide-in-right" ng-repeat="favorito in user.favoritos">
            <h2>{{favorito.nombre}}</h2>
            <p>{{favorito.descripcion}}</p>
        </div>

    </ion-content>
</ion-view>
