<!DOCTYPE html>
<html>
  <head>
  <link href="lib/ionic/css/style.css" rel="stylesheet">
  <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
  </head>
  <body>
      <ion-view title="Settings">

        <ion-content padding="'true'" class="has-header">
            <ion-toggle ion-toggle-text ng-model="simple">
              Enviar Notificaciones: 
            </ion-toggle>
            <a href="#about" class="AboutButton">About</a>
        </ion-content>

        <div class="tabs tabs-icon-top tabs-positive">
                      <a class="tab-item" href="#/perfilusuario">
                              <i class="icon ion-home"></i>
                              Perfil
                          </a>
                          <a class="tab-item" href="#/favoritos">
                              <i class="icon ion-search"></i>
                              Busqueda
                          </a>
                          <a class="tab-item" href="#/favoritos">
                              <i class="icon ion-star"></i>
                              Favorito
                          </a>
                          <a class="tab-item" href="#/settings">
                              <i class="icon ion-gear-a"></i>
                              Ajustes
                          </a>
        </div>
      </ion-view>
  </body>
</html>
