<ion-view view-title="Settings">
    <ion-content ng-class="{expanded:$scope.isExpanded}">

        <h4 class="content padding double-padding-x">Tag Settings</h4>
        <div class="list animate-fade-slide-in-right">
            <form class="list">
            <ion-toggle ng-model="comida">Comida</ion-toggle>
            <ion-toggle ng-model="diversion">Diversion</ion-toggle>
            <ion-toggle ng-model="nocturno">Nocturno</ion-toggle>
            <ion-toggle ng-model="compras">Compras</ion-toggle>
        </form>
        <button class="button button-stable button-icon  icon-left " ng-click="changeGustos()">Enviar</button>
        </div>
    </ion-content>
</ion-view>
