<!DOCTYPE html>
<html>
    <head>
    <link href="lib/ionic/css/style.css" rel="stylesheet">
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
    </head>
    <body>
        <ion-view title="Signup">
                <ion-content padding="'true'" scroll="false" class="has-header">
                    <form class="list">
                        <ion-list>
                            <label class="item item-input">
                                <span class="input-label"></span>
                                <input type="text" placeholder="Username" ng-model="user.username">
                            </label>
                            <label class="item item-input">
                                <span class="input-label"></span>
                                <input type="password" placeholder="Password" ng-model="user.password">
                            </label>
                        </ion-list>
                        <button class="button button-calm button-block " ng-controller="loginPost" ng-click ="loginPost(user)">Sign in</button>
                    </form>
                    <a menu-close="" href="#/registro1" class="button button-positive button-block ">Registro Nuevo Usuario</a>   

                    <div class="caja-redes">                 
                       <a href="#" class="button-icon twitter"><i class="icon-twitter"></i><span></span></a>
                       <a href="#" class="button-icon facebook"><i class="icon-facebook"></i><span></span></a>
                       <a href="#" class="button-icon google-plus"><i class="icon-google-plus"></i><span></span></a>
                    </div>  
                </ion-content>
        </ion-view>
    </body>
</html>
