<ion-view title="Usuario">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username" ng-model="newUser.username" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="newUser.password" required>
          </label>
          <label class="item item-input">
              <span class="input-label">Nombre</span>
              <input type="text" placeholder="Nombre" ng-model="newUser.nombre" required>
          </label>
          <label class="item item-input">
              <span class="input-label">Apellidos</span>
              <input type="text" placeholder="Apellidos" ng-model="newUser.apellidos" required>
          </label>
          <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Mail" ng-model="newUser.email" required>
          </label>
          <label class="item item-input item-select">
            <div class="input-label" >Genero</div>
            <select ng-model="newUser.genero">
              <option selected>Masculino</option>
              <option>Femenino</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Edad</span>
            <input type="date" placeholder="Fecha Nacimiento" ng-model="newUser.edad" required>
          </label>
        </form>
        <a menu-close="" class="button button-balanced button-block " ng-controller="usuarioCtrl" ng-click="userRegistro()"> Registrarse</a>
    </ion-content>
</ion-view>
