<div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" ng-show="mostrarHeader" class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
</div>
<div class="row">
  <div class="col-md-4">
  </div>
    <div class="col-md-10">
        <div class="portlet light" style="background-color: white; height: 100%;">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-red-thunderbird bold uppercase">Configuración Perfil</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">Información personal</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">Cambiar Avatar</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">Cambiar contraseña</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1" ng-controller="UserProfileController">
                      <br>
                      <br>


                        <form role="form">
                        <div class="col-md-6">

                          <div class="form-group form-md-line-input has-error">
										        <input class="form-control" id="form_control_1" placeholder="Nombre" type="text" ng-model="user.nombre">
										        <label for="form_control_3">Nombre</label>

                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group form-md-line-input has-error">
                            <input class="form-control" id="form_control_1" placeholder="Apellidos" type="text" ng-model="user.apellidos">
                            <label for="form_control_3">Apellidos</label>

                          </div>
                        </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>





                            <div class="form-group">
                                <label class="control-label">Gustos</label>

                                <div style="width: 300px; margin-left: 0px;" class="bootstrap-switch-container"><span
                                        style="width: 1000px;"
                                        class="bootstrap-switch-handle-on bootstrap-switch-primary"></span>
                                    <span style="width: 49px;" class="bootstrap-switch-label">&nbsp;</span><span
                                            style="width: 100px;"
                                            class="bootstrap-switch-handle-off bootstrap-switch-default"></span>
                                    <input class="make-switch" data-size="normal" type="checkbox" ng-model="user.gustos" ng-checked="comida"> Comida
                                </div>


                                <div style="width: 300px; margin-left: 0px;" class="bootstrap-switch-container"><span
                                        style="width: 49px;"
                                        class="bootstrap-switch-handle-on bootstrap-switch-primary"></span>
                                    <span style="width: 49px;" class="bootstrap-switch-label">&nbsp;</span><span
                                            style="width: 49px;"
                                            class="bootstrap-switch-handle-off bootstrap-switch-default"></span>
                                    <input class="make-switch" data-size="normal" type="checkbox" ng-model="user.gustos" ng-checked="comida"> Diversión
                                </div>

                                <div style="width: 300px; margin-left: 0px;" class="bootstrap-switch-container"><span
                                        style="width: 49px;"
                                        class="bootstrap-switch-handle-on bootstrap-switch-primary"></span>
                                    <span style="width: 49px;" class="bootstrap-switch-label">&nbsp;</span><span
                                            style="width: 49px;"
                                            class="bootstrap-switch-handle-off bootstrap-switch-default"></span>
                                    <input class="make-switch" data-size="normal" type="checkbox" ng-model="user.gustos" ng-checked="nocturno"> Nocturno

                                    <div style="width: 300px; margin-left: 0px;" class="bootstrap-switch-container">
                                        <span style="width: 49px;"
                                              class="bootstrap-switch-handle-on bootstrap-switch-primary"></span>
                                        <span style="width: 49px;" class="bootstrap-switch-label">&nbsp;</span><span
                                            style="width: 49px;"
                                            class="bootstrap-switch-handle-off bootstrap-switch-default"></span>
                                        <input class="make-switch" data-size="normal" type="checkbox" ng-model="user.gustos" ng-checked="compras"> Compras

                                    </div>
                                </div>
                          </div>

                            <br>


                            <div class="margiv-top-10">
                                <a class="btn red-thunderbird">
                                    Guardar </a>
                                <a ng-click="volver()" class="btn default">
                                    Cancelar </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- CHANGE AVATAR TAB -->
                    <div class="tab-pane" id="tab_1_2" ng-controller = "FileController">
                        <p>

                        </p>
                  <form name="upload" ng-submit="actAvatar()">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
									    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
										    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
									    </div>
								    	<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
									    </div>
								    	<div>
                        <br>
										    <span class="btn blue-steel btn-file">
										    <span class="fileinput-new">
										      Select image </span>
										    <span class="fileinput-exists">
										      Change </span>
										    <input name="file" type="file" uploader-model="file">
										    </span>
									    	<a class="btn red-thunderbird fileinput-exists" data-dismiss="fileinput">
									    	Remove </a>

                        <input type="submit" class="btn green-meadow" value="Enviar">
									    </div>


								  </div>
              </form>


                  </div>
                    <!-- END CHANGE AVATAR TAB -->
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Password Actual</label>
                                <input type="password" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Nuevo Password</label>
                                <input type="password" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Reescribe Nuevo Password</label>
                                <input type="password" class="form-control"/>
                            </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze">
                                    Cambiar </a>
                                <a href="#" class="btn default">
                                    Cancelar </a>
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->


                    <!-- END PRIVACY SETTINGS TAB -->
                </div>
            </div>
        </div>
    </div>
</div>
