<div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" ng-show="mostrarHeader" class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
</div>

<!-- END PAGE BREADCRUMB -->

<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="UserProfileController">
	<div class="col-md-12">
		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<!-- PORTLET MAIN -->
			<div class="portlet light profile-sidebar-portlet" style="background-color: white;">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{user.avatar}}" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.nombre}} {{user.apellidos}}
					</div>
					<div class="profile-usertitle-job font-blue-steel">
						Usuario
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-circle blue-steel btn-sm">Follow</button>
					<button type="button" class="btn btn-circle red-thunderbird btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<br>
			</div>
			<!-- END PORTLET MAIN -->
			<!-- END PORTLET MAIN -->
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->
		<!-- BEGIN PROFILE CONTENT -->
		<div ui-view class="profile-content fade-in-up">
		</div>
		<!-- END PROFILE CONTENT -->
	</div>
</div>
<!-- END PAGE CONTENT-->
